{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center mt-4 mb-5">This is password change page!</h1>


<div style="width: 500px; margin:auto">
    <form method="post" novalidate>

        {% csrf_token %}
        <!-- {{form | crispy}} -->

        <!-- ---- Login or logout form er Error show korar jonno ----- -->
        {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
        <p class="bg-danger text white p-3">{{err}}</p>
        {% endfor %}
        {% endif %}
        <!-- -------------------------- -->

        {% for fm in form %}

        {{fm.label_tag}}
        {{fm}}
        <p class="text-danger">{{fm.errors | striptags}}</p>
        

        {% endfor %}

        <div class="d-flex justify-content-center m-4 mb-5">
            <button class="btn btn-warning mt-3" type="submit">Change Password</button>
        </div>

    </form>

</div>



{% endblock content %}